@import "tailwindcss";

:root {
  --background: #EFEFEF;
  --foreground: #0D1821;
  --foreground-light: #ffffff;
  --card-background: #F9F9F9;
  --primary-lighter: #bee5ff;
  --primary: #7FC8F8;
  --primary-darker: #5AA9E6;
  --primary-darkest: #304C89;
  --primary-foreground: #0D1821;
  --secondary: #FF6392;
  --error: #FF6392;
  --secondary-foreground: #0D1821;
  --accent: #FFE45E;
  --accent-foreground: #304C89;
  --success: #40C9A2;
  --success-foreground: #0D1821;
  --inactive: #5a5c5e;
  --focus: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-light: var(--foreground-light);
  --color-card-background: var(--card-background);
  --color-primary: var(--primary);
  --color-primary-lighter: var(--primary-lighter);
  --color-primary-darker: var(--primary-darker);
  --color-primary-darkest: var(--primary-darkest);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-error: var(--error);
  --color-inactive: var(--inactive);
  --color-focus: var(--focus);
  --font-sans: var(--font-poppins);
  --font-bagel: var(--font-bagel);

}

h1 {
  font-family: var(--font-bagel);

}

h2 {
  font-size: 2rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--primary-darker);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}